@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}
.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.bg-form {
  background: url("../img/hiclipart.com.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.bg-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}
.transparent {
  background: transparent;
}

.nav-link {
  color: white !important;
}

.circle {
  height: 250px;
  width: 200px;
}
.dot {
  height: 150px;
  width: 150px;
  background-color: #b041ff;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.dot:hover {
  -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
}

.card-body-intro {
  height: 500px !important;
  border-radius: 50px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.rounded {
  border-radius: 10px !important;
}
.rounded-lg {
  border-radius: 25px !important;
}
.darken {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.text-darken {
  color: rgba(255, 255, 255, 0.75) !important;
}
.stats {
  font-size: 2em !important;
  font-weight: bold;
}

@media (min-width: 576px) {
  form.main-form {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left !important;
    border-radius: 25px;
    width: 500px;
  }
}
